@charset "utf-8";
/* CSS Document */

body {
	background-color: #80AAD1;
	text-align: center;
	margin-left: 0px;
}
h2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background-color: orange;
	height: 40px;
	color: #000000;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}


#jQuery {
	padding-left: 0px;
	margin-left: -23px;
}
body ul {
	margin-left: 0px;
	text-align: center;
}
button {
	width: 100px;
	border-color: #000000;
	background-color: #A7EDDF;
	min-width: 100px;
	max-width: 100px;
	height: 25px;
	min-height: 25px;
	max-height: 25px;
}

a {
	text-decoration: none;
	width: 100px;
	min-height: 100px;
	min-width: 100px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	color: #000000;
}

.accordion-panel {
	display: none;
	margin-right: 0px;
	text-align: center;
	margin-left: 0px;
}


.accordion-control {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	margin-right: 40px;
	margin-bottom: 1px;
}
